/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

form {
    margin-top: 20px;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

img {
    max-width: 200px;
    margin: 10px;
}
